
<%= link_to 'Back',project_tasks_path,class: 'btn btn-secondary mb-3' %>
 <div class="card">  
  <div class="card-body">
    <h2 class='card-title d-flex justify--content-between nb-4'>
        New Tasks  </h2>
<%= render 'form'  %>
  </div>
</div>



